<div
  class="bg-cover bg-center w-full h-[100vh] flex flex-col justify-between"
  style="
    background-image: url('	https://api.our-wedding.link/uploads/eaa19c30-8838-11ee-ad83-e7d3332466cd.jpeg');
  "
>
  <div
    class="flex justify-center py-[30%] md:py-[10%] lg:py-[5%] items-center w-full"
  >
    <p class="text-[30px] font-bold text-white">WEDDING INVITATION</p>
  </div>

  <div class="flex justify-center items-center w-full mb-[20%] md:mb-[17%] lg:mb-[5%] lg:text-[30px]">
    <div class="w-[60%] flex flex-col justify-center items-center">
      <div class="text-[30px] lg:text-[60px] text-white border-b-2 pb-3 lg:pb-10">
        <p class="great-vibes-regular memudar">samsul & mega</p>
      </div>
      <div class="gap-5 flex justify-center items-center lg:my-6 ">
        <p class="great-vibes-regular text-white memudar">12</p>
        <p class="great-vibes-regular text-white memudar">.</p>
        <p class="great-vibes-regular text-white memudar">12</p>
        <p class="great-vibes-regular text-white memudar">. </p>
        <p class="great-vibes-regular text-white memudar">2024</p>
      </div>
      <a href="home" class="text-white text-[20px] lg:text-[30px] lk border p-3 rounded-lg border-[1px solid white]" >⬅ OPEN ⮕</a>
    </div>

  </div>
</div>
