<div class="bg-cover bg-center w-full h-[100vh] memudar" style="background-image: url('https://api.our-wedding.link/uploads/072fbed0-3394-11ee-85cd-3da6d5b4c7ab.jpeg');">
    <div class="flex justify-between flex-col w-full h-[100vh] relative">
      <div class="bg-fade"></div>
      <div style="z-index: 2;">
        <app-navbar></app-navbar>
      </div>
      <div class="flex justify-center w-full items-center text-white text-[25px]" style="z-index: 2;">
      </div>
      <div class="mb-7  mx-8 flex flex-col gap-5 lg:gap-10" style="z-index: 2;">
        <p class="text-[60px] lg:text-[60px] text-[#ffffffc4] sacramento-regular memudary">samsul & mega</p>
        <p class="text-[#ffffff81] memudar lg:text-[15px] text-wrap">
          وَمِنْ كُلِّ شَيْءٍ خَلَقْنَا زَوْجَيْنِ لَعَلَّكُمْ تَذَكَّرُوْنَ And everything that We have made in pairs so that you may remember (the greatness of Allah). Q.S Adz-Dzariat verse 49
        </p>
      </div>
    </div>
  </div>
  
  <!-- layar 2 -->
  <div class="bg-[#ffffff] w-full h-[100vh] flex justify-between flex-col py-5 md:pb-20 lg:pb-32">
    <app-layer2></app-layer2>
  </div>
  
  <!-- layar 3 -->
  <div class="bg-[#ffffff] w-full h-[100vh] flex justify-between flex-col py-5 md:pb-20 lg:pb-32">
    <app-layer3></app-layer3>
  </div>
  